@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

h1 {
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}


/* header */

header {
    /* border: black solid 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem 2rem;
    height: 5vh;
}

.logo {
    /* border: solid 2px green; */
    display: inline-flex;
    text-align: center;
}

nav {
    /* border: hotpink solid 2px; */
    align-self: center;
    font-family: 'Josefin Sans', sans-serif;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 1.5rem;
}

header a:link {
    text-decoration: none;
    color: black;
}

header a:visited {
    color: black;
}


/* intro */

.hero {
    display: flex;
    justify-content: center;
    /* border: green solid 2px; */
    height: 90vh;
    margin: 0 10rem;
}

.intro {
    border: black solid 3px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5em;
    font-family: 'Josefin Sans', sans-serif;
}


/* projects */

.projects img {
    width: 500px;
    margin: 5rem 0;
}

.project-1 p {
    width: 400px;
    margin-left: 5rem;
    padding-bottom: 2em;
    border-bottom: black solid 2px;
}

.project-1 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    font-family: 'Oswald', sans-serif;
}

.project-2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    font-family: 'Oswald', sans-serif;
}

.project-2 p {
    order: -1;
    width: 400px;
    margin-right: 5rem;
    padding-bottom: 2em;
    border-bottom: black solid 2px;
}

.project-3 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
}

.project-3 p {
    width: 400px;
    margin-left: 5rem;
    border-bottom: black solid 2px;
    padding-bottom: 2em;
}