.card
	.left
		.slider
			i.material-icons arrow_back
		img(src="http://res.cloudinary.com/prvnbist/image/upload/v1508603572/starwars.png", alt="star wars").wordmark
	.right
		img(src="http://res.cloudinary.com/prvnbist/image/upload/v1508603573/helmet.png", alt="helmet").helmet
		.productInfo
			h1 STORMTROOPER <br> HELMET
			h2 $1,299.99
			.details
				.size
					h4 HELMET SIZE
					p S
					p M
					p L
					p XL
				.durability
					h3 75%
					h4 DURABILITY <br> RATE
			button ADD TO CART
			i.material-icons.fav favorite
			a(href="#") ADD TO WISHLIST
			.slider
				i.material-icons arrow_forward
				


a(href="https://www.youtube.com/watch?v=W_F5cJIbbe4").youtube watchMeCode